<!DOCTYPE html>
<html lang="de" dir="ltr">
    <head>
        {{partialCached "css.html" . }}
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8" />
        <title>{{ block "title" . }} {{ .Site.Title }} 🦊 {{ end }}</title>

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <script>
         console.log("▌▘▘▌▘▌▘▘▘▌▌▖▌▌▘▘▖▌▌▖▖▘▖▌▌▖▘▖▖▌▖▌▖▘▘▌▘▌▌▘▘▖▖▌▘▖▘▘▖▖▘▘▘▖▘▖▌▌▘▖▖▌▌▘▖▖▌▖▖▌▌▖▘▌▘▘▖▌▘▖▌▘▌▌▖▘▖▌▖▌▌▖▘▖▘▌▘▘▖▌▖▘▌▖▘");
        </script>

    </head>
    <body class="hyphens-auto wrap-break-word m-5 bg-zinc-800 text-sky-200 font-mono sm:w-3/4 sm:m-auto md:w-auto md:m-5 md:grid md:grid-cols-3 md:gap-3 lg:w-200 lg:mx-auto bg-[url(/images/background.png)]">

        {{ partial "logo.html" . }}
        {{ partial "navigation.html" . }}

        <main class="md:order-2 md:row-start-1 md:row-end-16 md:col-start-2 md:col-end-4 ">
                {{ block "main" . }}
                {{ end }}
        </main>


        {{ partial "socials.html" . }}
        {{ partial "footer.html" . }}
    </body>
</html>
